<div class="container-fluid">
    <div class="row">
        <div class="col-8">
            <!-- USER LIST -->
             <div class="card">
                <div class="card-header bg-primary">
                    <div class="row">
                        <div class="col-6 text-white">
                            <h6 class="p-2">User List</h6>
                        </div>
                        <div class="col-6 text-end">
                            <button class="btn btn-info">Add USer</button>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                   <table class="table table-bordered table-striped">
                    <thead>
                        <tr>
                            <th>Department</th>
                            <th>Name</th>
                            <th>Gender</th>
                            <th>Mobile</th>
                            <th>Email</th>
                            <th>DOJ</th>
                            <th>Status</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        @for (item of userList; track $index) {

                        
                        <tr>
                            <td>{{item.department}}</td>
                            <td>{{item.name}}</td>
                            <td>{{item.gender}}</td>
                            <td>{{item.mobile}}</td>
                            <td>{{item.email}}</td>
                            <td>{{item.doj}}</td>
                            <td>{{item.status?"Active":"Inactive"}}</td>
                            <td class="text-center " >
                                <i class="fa fa-edit text-primary m-2" (click)="onEdit(item)"></i>|
                                <i class="fa fa-trash text-danger" (click)="onDelete(item.id)"></i>

                            </td>
                            

                        </tr>
                    }
                    </tbody>
                   </table>
                </div>
             </div>
        </div>
        <div class="col-4">
            <!-- USER FROM -->
            <div class="card">
                <div class="card-header bg-primary">
                    <div class="row">
                        <div class="col-6 text-white">
                            <h6 class="p-2">{{editMode?"update user":"add user"}}</h6>
                        </div>
                        <div class="col-6 text-end">
                            <button class="btn btn-info" (click)="onResetForm(userForm)">Reset</button>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <form action="" class="row g-3" #userForm="ngForm" (ngSubmit)="onSubmit(userForm)">
                        <div class="col-6">
                            <select class="form-select" name="department" required [(ngModel)]="user.department">
                                <option value="">Select Department</option>
                                @for (item of departmentList; track $index) {
                                    <option >{{item}}</option>
                                }
                            </select>
                        </div>
                        <div class="col-6">
                            <input type="text" id="" class="form-control" [(ngModel)]="user.name" name="name" placeholder="Name">
                        </div>
                        <div class="col-6">
                            <input type="text"id="" class="form-control" [(ngModel)]="user.mobile" name="mobile" placeholder="Mobile">
                        </div>
                        <div class="col-6">
                            <input type="text" id="" class="form-control" [(ngModel)]="user.email" name="email" placeholder="Email">
                        </div>
                        <div class="col-6">
                            <input type="date" id="" class="form-control" [(ngModel)]="user.doj" name="doj" placeholder="DOJ">
                        </div>
                        <div class="col-6">
                            <div class="form-check form-check-inline">
                                <input type="radio" id="" class="form-check-input" [(ngModel)]="user.gender" value="male" name="gender" placeholder="Gender">
                            <label for="" class="form-check-label">Male</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input type="radio" id="" class="form-check-input" [(ngModel)]="user.gender" value="female" name="gender" placeholder="Gender">
                            <label  class="form-check-label">Female</label>
                            </div>
                            
                        </div>
                        <div class="col-6">
                            <select class="form-select" id="" name="city" required [(ngModel)]="user.city">
                                <option value="">Select City</option>
                                @for (item of cityList ; track $index) {
                                    <option >{{item}}</option>
                                }
                            </select>
                        </div>
                        <div class="col-6">
                            <input type="text" id="" class="form-control" [(ngModel)]="user.salary"  required name="salary" placeholder="Salary">
                        </div>
                        <div class="col-12">
                            <textarea cols="5"  id=""class="form-control" [(ngModel)]="user.address" rows="3" name="address" required placeholder="Address"></textarea>
                        </div>
                        <div class="col-12">
                            <div class="form-check">
                            <input type="checkbox" name="status" [(ngModel)]="user.status" class="form-check-input" required>
                            <label  class="form-check-label">Active?</label>
                            </div>
                        </div>
                        <div class="col-12">
                            <button class="btn btn-primary w-100" type="submit">{{editMode?"Update":"Save"}}</button>
                        </div>
                    </form>
                </div>
             </div>
        </div>
    </div>
</div>
